body {
    background-image: url(bg.png);
    background-size: cover; 
    background-attachment: fixed;
    text-align: center;
    color: white;
}

header {
    font-size: 50px;
    font-family: 'Unlock';
}

.navbar navbar-expand-lg navbar-light bg-light .navbar-brand {
    color: black !important;
}

#options {
    font-size: 25px;
}

table {
    table-layout: fixed;
    padding: 10px;
    border: 2px dashed white;
    margin-bottom: 20px;
}

tr td {
    font-size: 20px;
    border-bottom: dashed;
    border-bottom-width: 2px black;
    padding: 10px;
    text-align: center;
}



