body {
    background-image: url(bg.png);
    background-size: cover; 
    background-attachment: fixed;
    text-align: center;
    color: white;
}

header {
    font-size: 50px;
    font-family: 'Unlock';
}

.navbar navbar-expand-lg navbar-light bg-light .navbar-brand {
    color: black !important;
}

#options {
    font-size: 25px;
}

