body{
    opacity:0.9;
    width:100%;
    text-align:center;
    color:white;
}

input {
    font-size: 1.2em;
    color: black;
}

#carousel-example-generic {
     margin: 0 auto;   
     width: 500px;
}