header {
    font-size: 50px;
}

body {
    font-family: monospace;
    font-size: 15px;
}

input, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 10%;
    background-color: #a086d8;
    color: white;
    padding: 10px 15px;
    margin: 3px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #efdb21;
    color: black;
    font-weight: bold;
}